				
				<div id="reserve_container">
				  <p id="ship_date">השתתף גם אתה במצווה חשובה זו</p>
				  <a href="/preorder/checkout" class="blue_button reserve"><%= t(:call_to_action) %></a>
				  <p id="price">וביחד נזכה לטהר את עם ישראל</p>
				  <p>אשריכם ישראל!<br/>
				  לפני מי אתם מטהרים ומי מטהר אתכם? 
				  אביכם שבשמים</p>
				  <%= like_button %>
				</div>
				
