<div class="gray_background" id="faqs" dir="rtl">
  <div class="wrapper clearfix">
    <h4>שאלות נפוצות</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>למה צריך בכלל פרה אדומה?</summary>
          <p>כיום, אין בידינו שום אפשרות להיטהר מטומאת מת. המשמעות היא שכולנו בחזקת "טמאי מתים", ולכן איננו יכולים לקיים מצוות רבות, כגון חלה, תרומה, מעשר שני ועוד.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>מה זה אומר להיות טהורים?</summary>
          <p>אדם טהור הוא אדם שיכול להתקרב אל הקודש. טמאי מת מוזהרים מלהתקרב לדברים שקדושתם גדולה במיוחד, כגון מקום המקדש, אכילת קודשים, ואכילת קודשי חוץ כגון תרומות ומעשרות.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>האם טהרה באפר פרה מספיקה כדי להישאר טהור?</summary>
          <p>לא. כדי להישאר טהור צריך לטבול במקווה, ולשמור דיני טומאה וטהרה בדקדוק. כיום איננו רגילים להיות בקיאים בדינים אלה, אבל כל אחד יכול ללמוד אותם, ובעזרת ה' בהדרגה גם ליישמם בחיי המעשה.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>איך יכול להיות שלא חשבו על זה עד היום?</summary>
          <p>שאיפת הטהרה היתה קיימת לאורך כל הדורות. במאות השנים הראשונות לאחר חורבן הבית יהודים עדיין המשיכו לשמור על דיני טהרה והיה להם אפר פרה לטהרה. אך דינים אלה שקעו במרוצת השנים הקשות בגלות. כיום עם שובנו לארצנו, ועם השתכללות הטכנולוגיה, האפשרות להגיע לכל מקום בעולם בקלות ובמהירות נעשתה פשוטה הרבה יותר, ואנו יודעים הרבה יותר מאבותינו על מה שקורה מקומות שונים בעולם. האפשרות להביא פרה אדומה פשוטה היום הרבה יותר ממה שהיתה אפילו לפני כעשר שנים בלבד.          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>מה עוד צריך חוץ מפרה? </summary>
          <p>לשריפת הפרה דרושים גם עץ ארז, אזוב ושני תולעת. אנו יודעים כיום לזהות בוודאות את המינים האלה.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>האם צריך כהנים טהורים כדי לבצע את טקס שריפת הפרה?</summary>
          <p>כן. לצורך הטקס דרושים כהנים שידוע שנשמרו בטהרה מיום לידתם. אם אתם מכירים כהנים כאלה, נשמח אם תיצרו קשר עם מכון המקדש</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>האם הנסיבות הפוליטיות יאפשרו קיום של טקס כזה בהר הזיתים בימינו?</summary>
          <p>בניגוד להר הבית, בו לצערנו שולט כיום הווקף המוסלמי, הר הזיתים נמצא בשליטה מלאה של מדינת ישראל. אנחנו במכון המקדש מאמינים שניתן לבצע טקס כזה כיום ללא בעיות פוליטיות חריגות.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>איך תתבצע הטהרה עצמה?</summary>
          <p>בשלב ראשון, נקים בתי טהרה בשלושה מקומות בארץ - ירושלים, חיפה ובאר שבע. המעוניינים להיטהר יקבעו תור להזאה ביום השלישי וביום השביעי לטומאתם. <br/>
          בשלב מאוחר יותר אנו מקווים שנוכל להתרחב למקומות נוספים ברחבי הארץ.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
