<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is red heifer?
      </h3>
      <p>
        In our own times, the commandment of the red heifer takes on more and more significance. For without it, the Divine service of the Holy Temple cannot be resumed. There is a spiritual renaissance today in Israel; after almost 2,000 years, Israel is clearly moving towards the time when the Holy Temple on Mount Moriah - the prophesied Third Temple - will be rebuilt.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What is so special in a red heifer ?
      </h3>
      <p>
        Perhaps it would be difficult for some to believe that a cow could be so important. But in truth, the fate of the entire world depends on the red heifer. For G-d has ordained that its ashes alone are the single missing ingredient for the reinstatement of Biblical purity - and thereafter, the rebuilding of the Holy Temple
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Why is there such a sense of urgency to make ready the red heifer?
      </h3>
      <p>
        The answer is simple. To be a Jew is to be filled with a sense of urgency. The Jewish people were chosen by G-d. But what were we chosen for? To sanctify His Name by bearing witness to His existence, and to be the vehicle by which G-d manifests His will throughout the course of human history. If one is given a task to perform by the Almighty, should it not be considered urgent? The prophet also calls upon Israel to be "a light unto the nations." But one cannot be a light to others if he himself sits in the dark. The source of our light is the Divine Presence, which will again dwell in the Holy Temple, as promised by every prophet of Israel.
      <p>
    </div>
  </div>
</div>
