<div class="big_wrapper" dir="rtl">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        הפרה האדומה קיימת! 
      </h3>
      <p>
        מצווה על עם ישראל לקחת פרה אדומה תמימה. אבל איפה נמצא פרה כזאת? יש בכלל דבר כזה בעולם?
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper" dir="rtl">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        יש בעולם אלפי פרות אדומות. אנחנו צריכים רק אחת!
      </h3>
      <p>
        קיימים בעולם מספר זנים של פרות אדומות. באיזורים שונים בעולם מגדלים עדרים שלמים של פרות כאלה. כל מה שצריך הוא - לחפש פרה שתענה על כל התנאים הנדרשים... ולמצוא!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper" dir="rtl">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        אז מה אפשר לעשות?
      </h3>
      <p>
        אנחנו במכון המקדש רוצים להקים צוות מחקר מיוחד לחיפוש הפרה האדומה, לפי כל גדרי ההלכה. </br>
הצוות יעבוד בתיאום עם רבנים וגדולי ישראל, ויחפש את הפרה במקומות שונים בעולם, בהם ידוע שקיימים עדרים של פרות מתאימות. </br>
אנו מאמינים שהדבר בידינו. גם התורה מאמינה שהדבר בידינו, ולכן צוותה אותנו בפשטות וללא סייגים, לקחת פרה אדומה תמימה.

      <p>
    </div>
  </div>
</div>
