<div class="big_wrapper" dir="rtl">
<table>
	
	
	<tr>
		
		<td class="width512 padding20 top">
			<div id="four">
				<div class="point_copy">
				  <h3>
					ומה אני יכול לעשות?
				  </h3>
				  <p>
			הקמת צוות מחקר שכזה, והטיפול בהבאתה של הפרה לארץ, מצריכים תקציב לא קטן. אנו מעריכים שיידרש לכך תקציב של 500,000$.<br/>
			מכון המקדש קורא לך להצטרף לעוד אלפי יהודים הלוקחים חלק במצווה דאורייתא נדירה מאין כמוה - מצוות פרה אדומה.<br/>
			תרום כפי יכולתך, וחשוב מכך - פרסם את הדבר לחבריך ומכריך, שיתרמו גם הם.<br/>
			שקל יצטרף לשקל, דולר יצטרף לדולר, וביחד נגיע כולנו למטרה המיוחלת.
				  <p>
				</div>
			  </div>
		</td>
	
		
		<td class="width512 padding20 top">
			<table>
				<tr>
					<td>
						<div  id="five">
							<div class="point_copy">
							  <h3>
								אז מה המטרה?
							  </h3>
							  <p>
						המטרה האחת העומדת לנגד עינינו - להרבות טהרה בעם ישראל. <br/>
						אפר של פרה אחת יכול להספיק לטהרה של כל עם ישראל למשך דורות רבים !
							  <p>
							</div>
						  </div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="wrapper" id="six">
							<div class="point_copy">
							  <h3>
								ומה אחר כך?
							  </h3>
							  <p>
						לאחר שנמצא את הפרה בעזרת ה', נביא אותה ארצה להר הזיתים, אל מול מקום המקדש, לטקס השריפה.<br/>
						הטקס ייעשה בטהרה על פי כל כללי ההלכה, וינוהל בהכוונת רבני מכון המקדש.<br/>
						לאחר מכן נקים מספר בתי טהרה ברחבי הארץ, אליהם יוכלו המוני בני ישראל לבוא להזיית "שלישי" ו"שביעי", ולהיטהר מטומאת מת.
							  <p>
							</div>
						  </div>
					</td>
				</tr>				
			</table>
		</td>
		
		<td>
			 <div id="backing">
				<%= render 'preorder/homepage/statistics' %>
				<%= render 'preorder/homepage/donate' %>				
			  </div>
		</td>
	</tr>
	
</table>
  
</div>
