<div class="big_wrapper" dir="rtl">
<table>
	<tr>
		<td>
			<div  id="one">
				<div class="point_copy">
				  <h3>
					הפרה האדומה קיימת! 
				  </h3>
				  <p>
					מצווה על עם ישראל לקחת פרה אדומה תמימה. אבל איפה נמצא פרה כזאת? יש בכלל דבר כזה בעולם?
				  <p>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td style="height:5px; background: #f6f6f6;">&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			 <div id="two">
				<div class="point_copy">
				  <h3>
					יש בעולם אלפי פרות אדומות. אנחנו צריכים רק אחת!
				  </h3>
				  <p>
					קיימים בעולם מספר זנים של פרות אדומות. באיזורים שונים בעולם מגדלים עדרים שלמים של פרות כאלה. כל מה שצריך הוא - לחפש פרה שתענה על כל התנאים הנדרשים... ולמצוא!
				  <p>
				</div>
			  </div>
		</td>
	</tr>
	
	
</table>
  
</div>
