<div class="big_wrapper">
  <div class="center" id="middle_reserve">
    <!--h2><%= Settings.ships %></h2-->
    <a href="/preorder/checkout" class="blue_button reserve"><%=  t(:call_to_action)  %></a>
  </div>
</div>
