<% if Settings.use_payment_options %>
  <fieldset>
    <div class="stats">
      <ol>
        <% Orders.completed.each_with_index do |o, index| %>
          <div>
            <strong><%= o.price =%>$</strong><br/>
            <p><%= o.message %></p>
          </div>
          <hl />
        <% end %>
      </ol>
    </div>
  </fieldset>
<% end %>
