<div id="header">
  <div class="wrapper clearfix">
    <!--h1 id="redcow_header"><a href="/"><%= Settings.product_name %></a></h1-->
	<img alt="Para Aduma" src="/assets/Pasuk_line_short.png" />
  </div>
</div>